body{
    background-color: azure;
    font-size: larger;
    padding-top: 100px;

}
.myclass{
    font-size:larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}